*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
    height: auto;
}

.container{
    background-image: linear-gradient(#7CA5D9, white) ;
    background-attachment: fixed;
}

.header{
    margin-top: 0;
    margin-bottom: 30px;
    
}

.top-header{
    display: flex;
    justify-content: space-between;
    height: 82px;
    background-color: #05336B;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
}

.logo img{
    height: 70px;
}

.search input{
    background-color: #3C5C88;
    border: none;
    border-radius: 18px;
    width: 380px;
    height: 38px;
}

.search button{
    background-color: transparent;
    border: none;
    color: white;
    margin-left: -33px;
    transform: scaleX(-1);
    font-size: 18px;
}

::placeholder{
    color: white;
    text-align: center;
    font-size: large;
}

.top-right{
    display: flex;
}

.premium{
    color: #05336B;
    background-color: white;
    font-size: 11px;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 6px;
    margin-left: 25px;
    height: 18px;
}

.premium:hover{
    cursor: pointer;
}

.nav{
    color: white;
    display: flex;
    align-items: center;
}

.nav:hover{
    cursor: pointer;
}

.nav p{
    font-size: 16px;
    word-spacing: 6px;
}

.nav i{
    color: white;
    font-size: 32px;
    margin-right: 11px;
}

.hamburger{
    filter: invert(100%) sepia(4%) saturate(20%) hue-rotate(227deg) brightness(106%) contrast(100%);
    height: 30px;
    margin-top: 1px;
    margin-left: 20px;
}

.hamburger:hover{
    cursor: pointer;
}

.arrow{
    filter: invert(100%) sepia(4%) saturate(20%) hue-rotate(227deg) brightness(106%) contrast(100%);
    height: 20px;
    width: 17px;
    margin-left: 15px;
}

.arrow-forecast{
    filter: invert(100%) sepia(4%) saturate(20%) hue-rotate(227deg) brightness(106%) contrast(100%);
    height: 20px;
    width: 17px;
    margin-left: -92px;
    margin-right: 20px;
}

.play{
    height: 30px;
    margin-right: -95px;
}

.mid-header{
    height: 40px;
    background-color: #3C5C88;

}

.bottom-header{
    height: 40px;
    background-color: #061F40;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 80px;
    padding-left: 60px;
}

.bottom-header img{
    color: white;
}

.bottom-header p{
    color: white;
}

.top-ad img{
    display: block;
    height: 248px;
    width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.weather{
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
    align-items: center;
    border-right: solid thin #5075a8;
    height: 40px;
    margin-right: 1000px;
}

.weather p{
    color: white;
    font-size: 15px;
    font-weight: 100;
    margin-left: 5px;
}

.weather p b{
    font-weight: 400;
}

.sun{
    height: 22px;
}

.body{
    height: 3142px;
    width: 1162px;
    margin: 12px 139px;
}

.top-stories{
    height: 705px;
    width: 788px;
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

h2{
    font-size: 22px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.mainCard{
    width: 500px;
    border-radius: 6px;
    margin-bottom: 5px;
}

h1{
    font-size: 25px;
}

.story-left{
    margin-top: 15px;
    width: 500px;
}

.story-1:hover{
    cursor: pointer;
    color: blue;
}

.play-icon{
    height: 27px;
    margin-right: 10px;
}

.more-links{
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
}

.play-1{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: solid thin #DEDEDE;
}

.play-1:hover{
    cursor: pointer;
    color: blue;
}

.play-2{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: solid thin #DEDEDE;
}

.play-2:hover{
    cursor: pointer;
    color: blue;
}

.play-3{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: solid thin #DEDEDE;
}

.play-3:hover{
    cursor: pointer;
    color: blue;
}

.play-4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 13px;
    border-top: solid thin #DEDEDE;
}

.play-4:hover{
    cursor: pointer;
    color: blue;
}

.blue-button{
    background-color: #1B4DE4;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 700px;
    margin-top: 15px;
    margin-left: 15px;
}

.card{
    border-radius: 6px;
    height: 140px;
    margin-top: 20px;
}

.story-right{
    padding-top: 20px;
    margin-left: 25px;
}

.latest{
    margin-top: 15px;
    background-color: white;
    width: 801px;
    border-radius: 6px;
    height: 255px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.latest h2{
    padding-top: 20px;
    padding-left: 10px;
}

.cards{
    display: flex;
    width: 190px;
    font-size: 14px;
}

.cards p{
    padding-left: 10px;
}

.cards img{
    width: 190px;
    margin-left: 7px;
    margin-right: 2px;
}

.card7{
    margin-top: -7px;
}

.forecast{
    margin-top: 15px;
    background-color: white;
    width: 785px;
    border-radius: 6px;
    height: 545px;
    padding: 17px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.body-right{
    margin-left: 10px;
}

.forecast h2{
    padding-top: 10px;
}

.forecast img{
    width: 800px;
    margin-bottom: -5px;
}

.forecast img:hover{
    cursor: pointer;
}

.recommended{
    margin-top: 15px;
    background-color: white;
    width: 801px;
    border-radius: 6px;
    height: 225px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.recommended h2{
    margin-left: 10px;
}

.recommended img{
    border-radius: 6px;
}

#hover-blue:hover{
    color: blue;
    cursor: pointer;
}

#button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,115,255,1);
}

.body{
    display: flex;
}

.body-right img{
    width: 300px;
}

.side-1{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
    height: 570px;
    margin-bottom: 15px;
}

.side-2{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
    height: 310px;
    margin-bottom: 15px;
}

.side-2 h2{
    margin-top: 4px;
    border-radius: 6px;
}

.side-3{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
    height: 170px;
    margin-bottom: 15px;

}

.side-3 img{
    border-radius: 6px;
}

.side-4{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
    height: 255px;
    margin-bottom: 15px;
}

.side-5{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
    height: 330px;
}

.side-5 h2{
    margin-top: 4px;
}

.photos{
    margin-top: 15px;
    background-color: white;
    width: 801px;
    border-radius: 6px;
    height: 240px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.photos h2{
    padding-left: 5px;
}

.double-ad{
    display: flex;
}

.ad1{
    margin-top: 15px;
    background-color: white;
    width: 383px;
    border-radius: 6px;
    height: 320px;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.ad2{
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
    width: 383px;
    border-radius: 6px;
    height: 300px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0px 0px 3px 0px rgb(121, 121, 121);
}

.double-ad img{
    width: 370px;
}

.footer{
    background-color: white;
    margin-top: -520px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.top-footer img{
    height: 50px;
}

.footer-right img{
    height: 80px;
}

.top-footer{
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    align-items: center;
}

.footer-left h2{
    margin-top: 15px;
}

.lower-footer{
    text-align: center;
    padding-top: 50px;
}

.lower-footer p{
    margin-left: 5px;
}

.feedback{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.feedback p{
    padding-left: 10px;
}

.terms{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

.privacy{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.georgia img{
    height: 45px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.responsible{
    margin-bottom: 20px;
}

.copywright{
    font-size: 14px;
}

.ibm img{
    height: 60px;
    margin-top: 20px;
}

#hover-underline:hover{
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: solid 3px white;
}

#hover{
    cursor: pointer;
}
